* {
    box-sizing: border-box;
}

.container {
    padding: 3px;
    display: flex;
}

.calculator-buttons{
    border: solid 0.5px red;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    border:0;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}